.Section {
  width: 100%;
  padding: 4% 6%;

  background-color: #ffffff;
  font-size: 16px;

  box-sizing: border-box;
  overflow: hidden;
}

.Heading {
  margin: 0px;
  margin-bottom: 2%;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  font-size: 2.5em;
  letter-spacing: -2.3px;
  text-align: left;
  font-family: 'Raleway', sans-serif;
  color: #ff6207;
}

.CardsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0px;
  margin-top: 1%;
  justify-content: space-around;
}